@font-face {
    font-family: 'Inter';
    src: url('/fonte/Inter/Inter-VariableFont_opsz.ttf') format('truetype');
    font-weight: 10;
    font-style: normal;
}

.imagem_topo {
    margin-left: 0;
    width: 1366px;
    margin-top: 0;
    height: 250px;
}

body, header {
    margin: 0;
    font-family: 'Inter';
}

.escrever_por_cima {
    position: absolute;
    color: white;
}