@font-face {
    font-family: 'Inter';
    src: url('/fonte/Inter/Inter-VariableFont_opsz.ttf') format('truetype');
    font-weight: 10;
    font-style: normal;
}

#imagem_principal {
    margin-left: 0;
    width: 1366px;
    margin-top: 0;
}

body, header {
    margin: 0;
    font-family: 'Inter';
}

#escrever_por_cima {
    color: white;
    width: 100%;
    background: url('/imagens/foto_principal.png');
    background-size: cover;
    height: 25vh;
}

#titulo_principal {
    margin-top: 5px;
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
}
#escolha_opcoes {
    display: flex;
    width: 100%;
    height: 60%;
}

.opcao_principal {
    align-items: center;
    display: flex;    
    justify-content: center;
    bottom: 0;
    gap: 20px;
}

#botao_delivery_principal {
    width: 100px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#botao_delivery_principal:hover {
    background-color: rgba(153, 149, 149, 0.979);
}

.paragrafo_opcoes {
    font-size: 20px;
    cursor: pointer;
}
.paragrafo_opcoes:hover {
    font-size: 21px;
}

a {
    text-decoration: none;
    color: white;
}

#imagem-icon-b {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#titulo-cadastro {
    text-align: center;
    font-size: 10vh;
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}

.classe_id {
    border-radius: 60px;
    background-color: rgb(206, 203, 203);
    height: 4vh;
    width: 40vh;
}

#div-cadastro {
    align-items: center;
    justify-items: center;
    margin-top: 8vh;
}

#div-quebrar-input-cadastro {
    display: flex;
    flex-direction: column;
}

#botao-cadastro {
    background-color: rgb(253, 229, 49);
    border-radius: 60px;
    height: 4vh;
    font-size: 30px;
}

input::placeholder {
    font-size: 2vh;
    text-align: center;
}

input {
    margin-bottom: 2vh;
}
